---
import Card from "../components/Card.astro";
import Button from "../components/Card.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h3>Hallo</h3>
    <Card
      deluxe={true}
      titel="Vare nr. 1"
      beskrivelse="denne vare er meget dyr"
      variant="primary"
    />
    <Card
      deluxe={false}
      titel="Vare nr. 2"
      beskrivelse=" denne bare er også meget dyr"
      variant="secondary"
    />
  </body>
</html>
