---
import AuktionFilter from "../components/Auktion-filter.astro";
import Checkbox from "../components/Checkbox.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import KategoriFilter from "../components/Kategori-filter.astro";
import ShowroomFilter from "../components/Showroom-filter.astro";
import Varetype from "../components/Varetype.astro";
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Lauritz</title>
  </head>
  <body>
    <Header />

    <!-- indhold -->

    <Footer />
  </body>

  <style>
    body {
      margin: 0%;
      background-color: var(
        --color-body
      );
    }
  </style>
</html>
