---
const { titel, beskrivelse, img, deluxe, variant } = Astro.props;
---

<article class={deluxe == true && "Deluxe"} data-variant={variant}>
  <h2>{titel}</h2>
  <p>
    {beskrivelse}
  </p>

  <img src={img} alt="" />

  {deluxe == true && <p>Deluxe</p>}
</article>

<style>
  article {
    outline: 2px solid red;
  }
  h3 {
    background: cyan;
  }

  .deluxe {
    /* background: red;
    color: white; */
  }

  [data-variant="primary"] {
    background: blue;
  }

  [data-variant="secondary"] {
    background: black;
  }
</style>

<script></script>
