---
import "../styles/style.css";
---

<article>
  <p class="cardtitle">Auktion</p>
  <div>
    <ul class="scrolling-wrapper">
      <li>
        <a class="body" href=""
          >Biler og både</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Elektronik</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Glas, Porcelæn & Keramik</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Hobby & samleobjekter</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Hus og have</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Jagt, fiskeri, våben &
          militaria</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Lamper & belysning</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Maleri & skulturer</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Møbler</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Rejser & oplevelser</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Smykker</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Sport & fritid</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Sølv, Bronze, Kobber & Tin</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Tæpper & tekstiler</a
        >
      </li>
      <li>
        <a class="body" href=""
          >Tøj, Sko & accessories</a
        >
      </li>
      <li>
        <a class="body" href="">Urer</a>
      </li>
      <li>
        <a class="body" href=""
          >Vin og Spiritus</a
        >
      </li>
    </ul>
  </div>
</article>

<style>
  article {
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-card);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    width: 17rem;
    background-color: var(--color-card);
  }

  .scrolling-wrapper {
    width: 17rem;
    height: 17rem;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ul,
  a {
    list-style-type: none;
    text-decoration: none;
    color: var(--color-filter);
    margin: 0%;
    padding: 0%;
    display: inline-block;
  }

  a:hover {
    color: var(--color-footer);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>
