---
import "../styles/style.css";
---

<div>
  <ul class="navigation">
    <li>
      <a
        href="src/pages/christestfelt.astro"
        >Chris</a
      >
    </li>
    <li>
      <a href="">Sidste chance</a>
    </li>
    <li><a href="">deLuxe</a></li>
    <li>
      <a href="">Temaauktioner</a>
    </li>
    <li>
      <a href="">Kupkassen</a>
    </li>
    <li><a href="">Sælg</a></li>
  </ul>
</div>

<style>
  a {
    text-decoration: none;
    color: #909090;
  }
  a:hover {
    color: black;
  }
  ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }
</style>
