---
import "../styles/style.css";
import Checkbox from "./Checkbox.astro";
---

<article>
  <p class="cardtitle">Varetype</p>
  <div>
    <Checkbox
      beskrivelse="Alle varer"
    />
    <Checkbox beskrivelse="Brugte" />
    <Checkbox
      beskrivelse="Nyproducerede"
    />
    <Checkbox beskrivelse="deLuxe" />
  </div>
</article>
<style>
  article {
    border-radius: var(--radius-medium);
    box-shadow: var(--shadow-card);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;

    background-color: var(--color-card);
    width: 17rem;
  }

  div {
    display: grid;
    gap: 5px;
  }
</style>
